<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All commands</title>
</head>
<body>
    <h1>This site is not ready yet</h1>
    <h2>But you can use these commands👇👇</h2>

    <p><a href=http://127.0.0.1:8000/very_first/>Greetings</a></p>
    <p><a href=http://127.0.0.1:8000/first/>My first project</a></p>
    <p><a href=http://127.0.0.1:8000/second/>Links to my profiles</a></p>
    <p><a href=http://127.0.0.1:8000/users/>All users</a></p>
    <p><a href=http://127.0.0.1:8000/teachers/>All Teachers</a></p>
    <p><a href=http://127.0.0.1:8000/the_best/>Greatest of all time</a></p>

    <img src="https://images.ladbible.com/resize?type=jpeg&quality=70&width=648&fit=contain&gravity=null&url=https://s3-images.sportbible.com/s3/content/3c65c4665d616baa69508c7ee6326916.jpg">

</body>
</html>